body {
    background-image: linear-gradient(to right, rgb(238, 205, 163), rgb(239, 98, 159));
    /* background-image: linear-gradient(to right, #4ca1af, #c4e0e5); */
}

.calculator {
    background-color: rgba(35, 34, 34, 0.477);
    max-width: 100%;
    margin: auto;
}

.calculator input[type="text"] {
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    border: none;

}

.calculator .r {
    margin-bottom: 10px;

}

.calculator input[type="button"] {
    width: 24%;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.operator {
    color: rgb(238, 163, 64);
    font-size: 24px;
    border: none;
}

.equals {
    background-color: rgb(238, 163, 64);
    color: white;
    font-size: 24px;

}